#landing {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background: var(--color-primary);
}

.button {
  display: grid;
  align-items: center;
  justify-content: center;
  align-self: center;
  
  width: 30rem;
  height: 10rem;
  border-radius: 0.8rem;
  margin-top: 3rem;
  font: 700 2.0rem Archivo;
  

  text-decoration: none;
  color: var(--color-button-text);

  transition: background-color 0.2s;
  background: var(--color-primary-lighter);
}


@media (min-width: 760px){

  .button a:hover {
    background: var(--color-primary-light);
  }
}