#phonemes {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color-text-in-primary);
  background: var(--color-primary);
}

.viewport-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-secondary);
  height: 33rem;
  border-radius: 0.8rem;
}

.container h1 {
  margin: 3rem;
}

.viewport {
  
  overflow: hidden;
  position: absolute;
  width: 274px;
  height: 274px;
} 

.buttons-container {
  display: flex;
  justify-content: center;
  margin: 3.2rem 0;
}

.buttons-container button {
  width: 30rem;
  height: 9rem;
   
  font: 700 2.0rem Archivo;
  
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  color: var(--color-button-text);

  transition: background-color 0.2s;
}

.buttons-container button:first-child {
  margin-right: 1.6rem;
  background: var(--color-primary-light);
}

.buttons-container button:last-child {
  background: var(--color-secondary-dark);
}

.image {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

@media (min-width: 760px) {
  .viewport-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}